<nav style="padding-left:40px">
     <a href="#!" class="brand-logo">
        <img src="./assets/forge.png" style="height:150px"/>
    </a>
    
    <div href="#!" class="brand-logo small hide-on-med-and-down" style="margin-left:160px;margin-top:5px">
        Forge
    </div>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    
    <ul class="right hide-on-med-and-down">
        <li>
            <a routerLink="/submit" routerLinkActive="active">!</a>
        </li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
        <li>
            <a routerLink="/app-generation" routerLinkActive="active">Generate an app</a>
        </li>
        <li>
            <a routerLink="/submit" routerLinkActive="active">Propose dependency</a>
        </li>
    </ul>
</nav>