<div class="side-nav-fixed">
    
    <p class="side-nav-title red-text text-darken-1">Application</p>
    <div class="divider"></div>
    
    <ul class="side-list">
        <li class="side-list-item valign-wrapper">
            <a class="waves-effect waves-teal valign-wrapper" routerLink="/app-generation" routerLinkActive="active">
                <i class="material-icons">build</i>Generate an app
            </a>
        </li>
        <li class="side-list-item">
            <a class="waves-effect waves-teal" routerLink="/submit" routerLinkActive="active">
                <i class="material-icons">extension</i>Propose dependency
            </a>
        </li>
    </ul>
   
    <p class="side-nav-title red-text text-darken-1">Template</p>
    <div class="divider"></div>
    <ul class="side-list">
        <li *ngFor="let template of templates" class="side-list-item">
            <a class="waves-effect waves-teal" [routerLink]="['/app-template', template.id]">
                {{template.name}}
            </a>
        </li>
    </ul>
</div>

