<section class="dependency-card" *ngIf="dependency != null" >
    <div class="card horizontal hoverable small">
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title red-text text-darken-1">{{dependency.name | titleCase}}</span>
                    <blockquote style="margin:0px;">{{dependency.description | slice:0:200}}</blockquote>
            </div>
            <div class="card-bottom">
                <p>
                    <input type="checkbox" 
                            [checked]="checked"
                            [attr.id]="'dependency_' + dependency.id" 
                            (change)="dependencyStateChanged($event)"
                            *ngIf="selectable"/>
                    <label [attr.for]="'dependency_' + dependency.id">{{dependency.version}}</label>
                </p>
            </div>
        </div>
    </div>
</section>
